@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}


h1, h2, h3 ,h4 {
  font-family: "Nunito", sans-serif;
}

h2 {
  color: #007F95;
}

h3 {
  color: #fff;
}

.card p {
  color: #fff;
}

.card-bottom {
  border-bottom: 3px solid #4B4C4C;
}

.masthead {
  text-align: center;
}

.logo {
  width: 100%;
  max-width: 120px;
}

a {
  color: #007F95;
  text-decoration: none;
}

.nav {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav a {
  display: inline-block;
  text-decoration: none;
}

li {
  display: inline-block;
}

.current {
  color: #DDDFE0;
  background-color: #007F95;
  border-radius: 12px;
}

a:active {
  color: #DDDFE0;
  background-color: #007F95;
}

a:hover {
  color: #DDDFE0;
  background-color: #007F95;
  transition: all .2s linear;
}

header {
  background-color: #4B4C4C;
}

.button {
  font-family: "Nunito", sans-serif;
  background-color: #DDDFE0;
  border-radius: 12px;
}

.banner {
  position: relative;
  max-height: 24em;
  overflow: hidden;
}

.banner-content {
  position: absolute;
  bottom: 4em;
  left: 0;
  color: #fff;
  width: 100%;
}


.card {
  background-color:  #4B4C4C;
  border-radius: 12px;
}

.hover-box {
  color: #fff;
}

.hover-box:focus {
  z-index: 10;
}

.hover-box-caption {
  bottom: -4em;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, .5));
  text-shadow: 1px 1px 5px rgba(0, 0, 0, .9);
  transition: all .2s linear;
}

.hover-box:hover .hover-box-caption,
.hover-box:focus .hover-box-caption {
  bottom: 0;
}

.hover-box-img {
  filter: grayscale(100%);
  transition: all .2s linear;
}

.hover-box:hover .hover-box-img,
.hover-box:focus .hover-box-img {
  filter: grayscale(0);
  transform: scale(1.1);
}

input, textarea, select {
  border-radius: 12px;
  border: solid 3px #007F95;

}

legend {
  color: #007F95;
}

@media only screen and (min-width: 60em) {

  ul {
    text-align: right;
  }

}
